@use "sass:math";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
$fontFamily: 'Montserrat', sans-serif;
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// Основные цвета
$mainColor: #000;
$primaryColor: #f46ee4; 
$accentColor: #dd20ab; 
$grayColor: #898989;
$orangeColor: #E89F71;
$darkGrayColor: #616161;
$bgColor: #f9c9f4;

// Адаптив ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина
$minWidth: 320;
// Ширина макета
$maxWidth: 1440;
// Ширина огр контейнера
$maxWidthContainer: 1240;
// ОБщий отступ у контейнера
// (30 = по 15px слева и справа, 0 = немає відступу)
$containerPadding: 30;

// Ширина срабатывания первого брекпойнта
$containerWidth: $maxWidthContainer + $containerPadding;

// Обнуленния, миксины ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/mixin";
@import "base/null";

// Брейк-поинт
$pc: toEm($containerWidth); // ПК, ноутбуки,планшеты в горизонтальному положении
$tablet: toEm(991.98); // Планшеты
$mobile: toEm(767.98); // Телефоны L
$mobileSmall: toEm(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпойнтов),
// 2 = по брейкпоинтам
$responsiveType: 1;

//  tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблокирован
	font-family: $fontFamily;
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загруженный
	.loaded & {
	}
}
// Оболчка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдерів
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================


@if ($responsiveType==1) {
	// Отзывчивый
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-пинты
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение стилей страниц 
@import "base/common";
@import 'file-loader';
@import 'home';
